<!DOCTYPE html>
{% extends 'adminusers/base.html' %}

{% block base_block %}
<div class="jumbotron">
    <h2> Please login here</h2>
    <form action="{% url 'adminusers:user_login' %}" method="post">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" name="username" value="" id="username">
        <label for="password">Password</label>
        <input type="password" name="password" value="" id="password">
        <input type="submit" name="Submit" value="Login">
    </form>

</div>
{% endblock %}